.body {
  font-family: Helvetica;
}

.landing-page {
  background-color: #f1f3ff;
}

.combine {
  display: flex;
  flex-wrap: wrap;
}

.left-side {
  background-color: #f1f3ff;
  display: flex;
  flex-basis: 50%;
}

.right-side {
  position: relative;

  background-color: #f1f3ff;
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: end;
}

.right-side img {
  width: 100%;
}

@media (max-width: 768px) {
  .landing-page {
    flex-direction: column;
    height: auto;
  }

  .left-side,
  .right-side {
    flex-basis: 100%;
    padding-top: 20px;
  }

  .left-side .content {
    max-width: 100%;
  }

  .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-side img {
    max-width: 100%;
  }

  .why-us {
    flex-direction: column;
    height: auto;
  }
  .card {
    width: 100% !important;
  }

  .isi {
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: center;
  }

  .profile-circle {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

.navbar-custom {
  font-weight: 500;
  background-color: #f1f3ff;
  padding-top: 24px !important;
}

.custom-bg {
  background-color: #0d28a6;
}

.btn-custom {
  background-color: #5cb85f;
  border-color: #5cb85f;
  color: #fff;
  border-radius: 3px;
}

.btn-customm {
  background-color: #0d28a6;
  border-color: #0d28a6;
  color: #0d28a6;
  border-radius: 3px;
  bottom: 0;
}

.formSearch {
  display: flex;
  position: relative;
}

.card {
  position: absolute;
  top: -35px;
}

.form-label {
  width: 100%;
}
